# ====================================================================
# exclusiones oficiales de azahartech software
# ====================================================================

# 1. entorno de desarrollo (IntelliJ IDEA)
.idea/
*.iml
*.iws
*.ipr
out/

*.class
target/
build/
*.jar
*.war

# 3. archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# 4. archivos de registro y temporales
*.log
*.tmp
*.bak